{% extends '@static/_layout/base.html.twig' %}

{% block navbar %}
    {% set current_page = '/' %}
    {{ parent() }}
{% endblock navbar %}

{% block content %}

    <div class="jumbotron">
        <h1>This is the Home Page!</h1>
        <p class="lead">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
        </p>
    </div>
    
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://dummyimage.com/350x200/d6d6d6/000000.png" alt="Dummy Image">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
            <p>
                <a href="#" class="btn btn-primary" role="button">Button</a>
                <a href="#" class="btn btn-default" role="button">Button</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://dummyimage.com/350x200/d6d6d6/000000.png" alt="Dummy Image">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
            <p>
                <a href="#" class="btn btn-primary" role="button">Button</a>
                <a href="#" class="btn btn-default" role="button">Button</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://dummyimage.com/350x200/d6d6d6/000000.png" alt="Dummy Image">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
            <p>
                <a href="#" class="btn btn-primary" role="button">Button</a>
                <a href="#" class="btn btn-default" role="button">Button</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    

{% endblock content %}
